body {
    background-color: beige;
}
.mybutton {
    background: #f7786b;
    font-size: 0.75em;
}
.card {
    background-color: #fff;
    border-radius: .4em;
    padding: 1em;
}
img {
    max-width: 100%;
    height: auto;
}
.stretch {
    display: grid;
    justify-content: stretch;
}
.container {
    width: 80%;
    margin: auto;
    margin-top: 3em;
}

.mybutton {
    background: #f7786b;
    font-size: 0.75em;
}
@import 'layout';